$double = 5rem
$base = 2.5rem
$half = 1.25rem
$quarter = 0.625rem

// dark colors
$background-dark = #27292c
$text-dark = white

$forward-path-dark = hsla(162, 100%, 50%, 0.3)
$forward-head-dark = hsla(162, 100%, 50%, 1)
$backward-path-dark = hsla(4, 100%, 68%, 0.7)
$backward-head-dark = hsla(4, 100%, 68%, 1)
$unused-dark = hsla(4, 100%, 68%, 1)

// light colors
$background-light = #f4f4f4
// $background-light = white
$text-light = #1e1e1e

$forward-path-light = hsla(162, 100%, 25.5%, 0.3)
$forward-head-light = hsla(162, 100%, 25.5%, 1)
$backward-path-light = hsla(4, 100%, 30.6%, 0.7)
$backward-head-light = hsla(4, 100%, 30.6%, 1)
$unused-light = hsl(4, 100%, 36.1%)

// http://tristen.ca/hcl-picker/#/clh/10/0/FC102C/26211B
$heatmap-red-light = #FC102C #DD2D2E #BF362F #A43A2E #8A3A2D #73382B #5D3328 #492E25 #362820 #26211B
$heatmap-red-dark = #500003 #6E0E11 #8A221E #A5382D #BE4F3F #D36954 #E6846B #F4A185 #FCC0A2 #FFE0C2
$heatmap-blue-dark = #1768E4 #4274EE #5F81F5 #798EFA #929CFC #A9AAFB #BFB9F8 #D4C8F2 #E8D7E9 #FBE7DD
$heatmap-blue-light = #1250B4 #2A4B9E #33468A #374177 #383C66 #373856 #353347 #322E3A #2E2A2E #292523

heatmapper(level, color)
  if (level < 1 || level > 20)
    error('invalid level for heatmap')
  len = length($heatmap-blue-dark)
  if (color == dark)
    if (level <= 10)
      return $heatmap-red-dark[level - 1]
    else
      return $heatmap-blue-dark[20 - level]
  if (color == light)
    if (level <= 10)
      return $heatmap-red-light[level - 1]
    else
      return $heatmap-blue-light[20 - level]
  else
    error('something else went wrong')


////////////////////////////////////////////////////////////////////////////////
//                                Main styles                                 //
////////////////////////////////////////////////////////////////////////////////

html
  font-size: 10px
body
  margin: 0 auto
  width: 100%
  height: 100%
  text-align: center

#source-pre
  font-size: 1.4rem
  margin: 0 auto
  max-width: 90ex

#source-code
  margin: 0 auto

#controls
  z-index: 10
  position: fixed
  top: 0
  right: 0
  overflow: hidden
  font: 'Arial', sans-serif
  min-width: 30vw
  height: 100vh
  text-align: left
  transition: transform cubic-bezier(.46,.07,0,1) 600ms
  transform: translateX(100vw)

  .options
    display: flex
    align-content: center
    flex-flow: column nowrap
    justify-content: top
    transition: transform cubic-bezier(.46,.07,0,1) 600ms

    h2
      font: 2.1rem / 2.5rem 'Alegreya Sans SC', sans-serif
      font-weight: 300
      padding-left: $half

    .fieldset
      display: flex
      align-items: center
      flex-flow: row nowrap
      justify-content: space-evenly
      height: $base
      border: none

      input
        line-height: $base
        height: $base

      label
        font: 1.4rem 'Gill Sans MT Pro'
        line-height: $base
        padding-right: 5vw

#controls.clicked
  font: 1.4rem 'Gill Sans MT Pro'
  font-weight: 200
  transition: transform cubic-bezier(.46,.07,0,1) 600ms
  transform: translateX(0)

  .options
    height: 100vh
    cursor: initial
    transition: transform cubic-bezier(.46,.07,0,1) 600ms

// vertical-align: middle
#control-icons
  position: fixed
  top: 0
  right: 0
  z-index: 20
  font: 3rem Arial, sans-serif
  padding-right: 2rem
  text-align: right
  transition: color ease 500ms, border-color ease 500ms, border-left ease 500ms

  & .close
    display: none
    visibility: hidden

  &:hover
    cursor: pointer

    .open
      cursor: pointer
      transition: color ease 300ms

  &.clicked
    & .open
      display: none
      visibility: hidden

    & .close
      display: initial
      visibility: visible

.box-arrow
  position: absolute
  box-sizing: border-box
  background-color: transparent
  &.forward
    &.path
    &.head
      top: -5px
      left: -2px
      // draw a CSS triangle
      width: 0
      height: 0
      border-top: 5px solid transparent
      border-bottom: 5px solid transparent
  &.backward
    &.path
    &.head
      top: -5px
      right: -2px
      // draw a CSS triangle
      width: 0
      height: 0
      border-top: 5px solid transparent
      border-bottom: 5px solid transparent

////////////////////////////////////////////////////////////////////////////////
//                                                                            //
//                             Colour Schemes                                 //
//                                                                            //
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
//                               Dark Scheme                                  //
////////////////////////////////////////////////////////////////////////////////

body.scheme-dark
  background-color: $background-dark

  #controls
    color: $text-dark
    background-color: $background-dark

    &.clicked
      box-shadow: black -2px -2px 10px

      .options
        background-color: $background-dark
  
  #control-icons
    color: hsla(255, 255, 255, 0.3)

    &:hover
      color: $text-dark

    .open
      color: $text-dark
  
  .box-arrow
    &.forward
      &.path
        border-top: 2px solid $forward-path-dark
        border-right: 2px solid $forward-path-dark
        border-bottom: 2px solid $forward-path-dark
      &.head
        border-right: 5px solid $forward-head-dark
    &.backward
      &.path
        border-top: 2px solid $backward-path-dark
        border-bottom: 2px solid $backward-path-dark
        border-left: 2px solid $backward-path-dark
      &.head
        border-left: 5px solid $backward-head-dark

  .unused
    color: $unused-dark !important

  for level in (1 .. 20)
    .heatmap-{level}
      color: heatmapper(level, dark)
      background-color: $background-dark
  

////////////////////////////////////////////////////////////////////////////////
//                              Light scheme                                  //
////////////////////////////////////////////////////////////////////////////////
body.scheme-light
  background-color: $background-light

  #controls
    color: $text-light
    background-color: $background-light

    &.clicked
      box-shadow: rgba(0, 0, 0, 0.5) -2px -2px 10px

      .options
        background-color: $background-light
  
  #control-icons
    color: lighten($text-light, 50%)

    &:hover
      color: $text-light

    .open
      color: rgba(30, 30, 30, 0.67)
      &:hover
        color: $text-light

    .close
      color: rgba(30, 30, 30, 0.67)
      &:hover
        color: $text-light


body.scheme-light,
body.scheme-light span
  background-color: $background-light
  color: $text-light

body.scheme-light 
  code[class*="language-"],
  pre[class*="language-"]
    color: $text-light
    background: none

  pre[class*="language-"]::-moz-selection, 
  pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection, 
  code[class*="language-"] ::-moz-selection
    background: #b3d4fc

  pre[class*="language-"]::selection, 
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection, 
  code[class*="language-"] ::selection
    background: #b3d4fc

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata
    color: #999999

  .token.punctuation
    color: #969696

  .namespace
    opacity: .7

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted
    color: #c13500

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted
    color: #690

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string
    color: #a67f59

  .token.atrule,
  .token.attr-value,
  .token.keyword
    color: #9344aa

  .token.function
    color: #0b69ba

  .token.regex,
  .token.important,
  .token.variable
    color: #DD4A68

  .token.important,
  .token.bold
    font-weight: bold

  .token.italic
    font-style: italic

  .token.entity
    cursor: help

  .box-arrow
    &.forward
      &.path
        border-top: 2px solid $forward-path-light
        border-right: 2px solid $forward-path-light
        border-bottom: 2px solid $forward-path-light
      &.head
        border-right: 5px solid $forward-head-light
    &.backward
      &.path
        border-top: 2px solid $backward-path-light
        border-bottom: 2px solid $backward-path-light
        border-left: 2px solid $backward-path-light
      &.head
        border-left: 5px solid $backward-head-light

  .unused
    color: $unused-light !important
    &:last-child::after
      content: " ⛔"

  for level in (1 .. 20)
    .heatmap-{level}
      color: heatmapper(level, light)
      background-color: $background-light

////////////////////////////////////////////////////////////////////////////////
//                              Next Section                                  //
////////////////////////////////////////////////////////////////////////////////

// for level in (1 .. 20)
//   .heatmap-dark-{level}
//     color: heatmapper(level, dark)
//     background-color: @color

// for level in (1 .. 20)
//   .heatmap-light-{level}
//     color: heatmapper(level, light)
//     background-color: @color
